# Ignore everything
.idea/*

/analisysed/
/diff_backup/
/metaData/
/working/
/model/
/util/
/dist/
/test/testData/
/test/basicTest.js
/test/regexTest.js

/kaisyu-table-fixed.html
/output.html
/GIT_COMMIT_MSG.txt
/GIT_TAG_MSG.txt
/package-lock.json
/analisysPage.js
/cheerioTest.js
/formatter.js
/fetchPage.js
/main.js
/filtered-table.html

# README暂时不进行跟踪
README